# Environments
.venv/
venv/
ENV/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Editor/IDE specific
.vs/
.vsc/
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db

# Private secrets
.env